<!-- Main component for a primary marketing message or call to action -->

<% if not logged_in? %>
  <div class="jumbotron">
    <h1 class="text-center">Startup Ideas</h1>
    <p class="text-center lead">Share your startup ideas, get feedback, and check out other ideas!</p>
    <p class="text-center">
      <a class="btn btn-lg btn-primary btn-m" href="/signup" role="button">Sign up</a>
    </p>
  </div>
<% else %>
  
<% end %> 
  

<div class="page-wrapper">
  <%= render "ideas/listings" %>
</div>