
<div class="container">

  <!-- Main component for a primary marketing message or call to action -->
  <div class="jumbotron">
    <h1 class="text-center">Startup Ideas</h1>
    <p class="text-center lead">Share your startup ideas, get feedback, and check out other ideas!</p>
    <p class="text-center">
      <a class="btn btn-lg btn-primary" href="#" role="button">Sign up</a>
    </p>
  </div>

  <%= render "ideas/listings" %>

</div>